/* HomePage.css */
.home-page {
  font-family: 'Arial', sans-serif;
  text-align: left;
  background-color: #1a1a1a;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.home-title {
  margin-top: 0;
  font-size: 32px;
  font-weight: bold;
  text-align: left;
}

.view-options {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
  margin-top: auto;
  align-self: flex-end;
  margin-top: 10px;
}

.view-button {
  margin-left: 10px;
  background-color: #222;
  color: #fff;
  border: none;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
}

.view-button.active {
  background-color: #444;
}

.new-task-button {
  margin-top: auto; /* Aligns the button to the bottom */
  align-self: flex-end; /* Aligns the button to the right */
  background-color: #444;
  color: #fff;
  border: none;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
}

.new-task-button:hover {
  background-color: #666;
}

.new-task-popup {
  position: fixed;
  transform: translate(-50%, -50%);
  background-color: #1a1a1a;
  color: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 9999;
  max-width: 400px;
  min-width: 500px;
}

.new-task-popup-title {
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: -10px;
}

.new-task-popup input,
.new-task-popup textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  background-color: #222;
  color: #fff;
  border: none;
  border-radius: 4px;
  
  margin-left: -7.5px;
}

.new-task-popup-buttons {
  display: flex;
  justify-content: flex-end;
  
  margin-right: -5px;
}

.new-task-popup-buttons button {
  margin-left: 10px;
}

.save-task-button {
  background-color: #007bff;
  color: #fff;
  
  border: 4px;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 25px;
}

.save-task-button:hover {
  background-color: #0056b3;
}

.cancel-task-button {
  background-color: #444;
  color: #fff;
  
  border: 4px;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 25px;
}

.cancel-task-button:hover {
  background-color: #666;
}

.task-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px
}

.task-item {
  position: relative;
  justify-content: space-evenly;
  flex-basis: calc(25% - 35px);
  background-color: #222;
  color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  height: 0;
  padding-bottom: calc(25% - 80px);

}

.task-item h3 {
  margin-top: 0;
  font-size: 20px;
  font-weight: bold;
}

.task-item p {
  margin-bottom: 0;
}

.task-item button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #ff0000;
  color: #fff;
  border: none;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
}

.task-item button:hover {
  background-color: #cc0000;
}

.past-due {
  
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #cc0000;
  
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.my-tile-content {
  display: flex;
  min-height: 100px;
  max-height: 100px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  line-height: 1;
}

.my-tile-content p {
  line-height: 1; /* Adjust the margin value as per your desired spacing */
  background-color: #444;
}